@font-face 
{
	font-family: "comfortaa";
	src: url('fonts/comfortaa/Comfortaa-Regular.ttf');
}
@font-face {
	font-family: "teko";
	src: url('fonts/teko/Teko-Bold.ttf');
}
body 
{
  font-family: comfortaa;
  margin: 0%;
  padding: 0%;
}
/*! ===== Scrollbar CSS avec Codepen.io ===== /
  /*! Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #bfbfbf #ffffff;
  }

  /*! Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 0.5vw;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #bfbfbf;
    border-radius: 10px;
  }
/*!     navbar responsive avec https://www.cssportal.com/css3-menu-generator/    */
#menu 
{
	background: #262626;
	color: #FFF;
	height: 45px;
	border-radius: 0px;
	border-bottom: #262640 3px solid;
}
#menu ul, #menu li 
{
	margin: 0 auto;
	padding: 0;
	list-style: none
}
#menu ul 
{
	width: 100%;
}
#menu li 
{
	float: left;
	display: inline;
	position: relative;
}
#menu a 
{
	display: block;
	line-height: 45px;
	padding: 0 14px;
	text-decoration: none;
	color: #008cff;
	font-size: 1vw;
}
#menu a.dropdown-arrow:after 
{
	content: "\25BE";
	margin-left: 5px;
}
#menu li a:hover 
{
	color: #FFFFFF;
	background: #008cff;
}
#menu input 
{
	display: none;
	margin: 0;
	padding: 0;
	height: 45px;
	width: 100%;
	opacity: 0;
	cursor: pointer
}
#menu label 
{
	display: none;
	line-height: 45px;
	text-align: center;
	position: absolute;
	left: 35px
}
#menu label:before 
{
	font-size: 1.6em;
	content: "\2261"; 
	margin-left: 20px;
}
#menu ul.sub-menus
{
	height: auto;
	overflow: hidden;
	width: 170px;
	background: #444444;
	position: absolute;
	z-index: 99;
	display: none;
}
#menu ul.sub-menus li 
{
	display: block;
	width: 100%;
}
#menu ul.sub-menus a 
{
	color: #FFFFFF;
	font-size: 16px;
}
#menu li:hover ul.sub-menus 
{
	display: block
}
#menu ul.sub-menus a:hover
{
	background: #F2F2F2;
	color: #444444;
}
#menu ul span
{
  	float: right;
}
/*! INTRO AVEC BACKGROUND */
#intro 
{
	background-image: url('images/index_background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position-y: bottom;
	width: 100%;
	height: 50vw;
}
#intro h1
{
	margin-top: 0%;
	margin-bottom: 0%;
	padding-top: 2%;
	padding-left: 3%;
	color: white;
	font-size: 2.5vw;
	font-family: teko;
}
/*! BOUTON CHANGEMENT LANGUE */
#bouton_langue
{
	padding-top: 1%;
	display: flex;
	width: 98%;
	justify-content: right;
}
.flipswitch {
	position: relative;
	width: 4.2vw;
  }
  .flipswitch input[type=checkbox] {
	display: none;
  }
  .flipswitch-label {
	display: block;
	overflow: hidden;
	cursor: pointer;
	border: 0px solid #000000;
	border-radius: 8px;
  }
  .flipswitch-inner {
	width: 9vw;
	margin-left: -100%;
	transition: margin 0.3s ease-in 0s;
  }
  .flipswitch-inner:before, .flipswitch-inner:after {
	float: left;
	width: 50%;
	height: 20%;
	padding: 0;
	line-height: 24px;
	font-size: 1vw;
	color: white;
	font-weight: bold;
	box-sizing: border-box;
  }
  .flipswitch-inner:before {
	content: "FR";
	padding-left: 5%;
	background-color: #006B99;
	color: #FFFFFF;
  }
  .flipswitch-inner:after {
	content: "EN";
	padding-right: 1vw;
	background-color: #006B99;
	color: #FFFFFF;
	text-align: right;
  }
  .flipswitch-switch {
	width: 45%;
	height: 100%;
	background: #D0CFD4;
	border: 0px solid #000000;
	border-radius: 8px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 50%;
	transition: all 0.3s ease-in 0s;
  }
  .flipswitch-cb:checked + .flipswitch-label .flipswitch-inner {
	margin-left: 0;
  }
  .flipswitch-cb:checked + .flipswitch-label .flipswitch-switch {
	right: 0;
  }
/*! EFFET D'ECRITURE         https://css-tricks.com/snippets/css/typewriter-effect/ */
.typewriter
{
	width: 39%;
	padding-top: 2%;
	margin-left: 3%;
	font-family: sans-serif;
}
.typewriter p
{
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	border-right: .15em solid rgb(255, 255, 255); /* The typwriter cursor */
	white-space: nowrap; /* Keeps the content on a single line */
	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
	color: white;
	font-size: 1.2vw;
	letter-spacing: .15em; /* Adjust as needed */
	animation: 
	  typing 3.5s steps(40, end),
	  blink-caret 0.75s step-end infinite;
}
  
/*! The typing effect */
@keyframes typing 
{
	from { width: 0 }
	to { width: 100% }
}
  
/*! The typewriter cursor effect */
@keyframes blink-caret 
{
	from, to { border-color: transparent }
	50% { border-color: white; }
}


/*! bloc 2 fond petit carré */
#bloc2 
{
	background-image: url("images/fondcarre.png");
}
/*! flex explication du site */
.flex_explication
{
	padding-top: 8%;
	padding-bottom: 5%;
	display: flex;
	height: 10vw;
}
.flex_explication div
{
	width: 50vw;
	height: 10vw;
	margin: auto;
	display: flex;
	border: none;
	position: relative;
	background-color: rgb(76 189 243 / 10%);
}
.flex_explication div:after, .flex_explication div:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	border: 2px solid white;
	transition: transform .2s; }

.flex_explication div:after 
{
	transform: translate(0.3vw, 0.3vw); 
}
.flex_explication div:before 
{
	transform: translate(-3px, -3px); 
}
.flex_explication div:hover:after, .flex_explication div:hover:before 
{
	transform: translate(0); 
}
.flex_explication div p
{
	color: #FFF;
	text-align: center;
	width: 85%;
	margin: auto;
	font-size: 1.3vw;
}
.flex_explication div p span
{
	color: rgb(47, 47, 255);
}
/*! flexbox skill 2  */
#bloc2 h1
{
	color: #FFFFFF;
	margin-top: 0%;
	margin-bottom: 0%;
	padding-top: 3%;
	padding-bottom: 3%;
	font-size: 2.6vw;
	margin: auto;
	text-align: center;
	text-decoration: underline;
	font-family: teko;
}
.flexskills
{
	display: flex;
	grid-gap: 3%;
	width: 80%;
	margin: auto;
}
.flexskills div
{
	width: 100%;
}
.flexskills div img
{
	background-color: white;
	width: 70%;
	height: auto;
	border-radius: 20%;
	display: block;
	margin: auto;
}
.flexskills div img:hover
{
	background-color: #008cff;
}
.flexskills div p
{
	color: white;
	text-align: center;
	font-size: 1.5vw;
}
/*! barre séparatrice (hr) */
hr
{
	width: 50%;
	margin: auto;
	margin-bottom: 5%;
	margin-top: 3%;
}
/*! bloc 2 flex textes */
.flex_textes_bloc2
{
	padding-top: 0px;
	padding-bottom: 3%;
	display: flex;
	flex-direction: column;
	margin: auto;
	width: 70%;
	gap: 40px;
}
.flex_textes_bloc2 div 
{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
 .flex_textes_bloc2 img    /* fond avec https://codepen.io/joeashworth/pen/PXvRzb	*/
{
	width: 30%;
	border-radius: 5%;
	background: white;
	box-shadow: 1.5vw 1.5vw rgba(0,0,0,.60);
	transition: all .4s ease;	
}
.flex_textes_bloc2 div span 
{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30%;
	background-color: white;
	box-shadow: 1.5vw 1.5vw rgba(0,0,0,.60);
	transition: all .4s ease;
	border-radius: 5%;
}
.flex_textes_bloc2 div span p
{
	color: #262626;
	margin-top: 0%;
	margin-bottom: 0%;
	font-size: 1.5vw;
	text-align: center;
	width: 70%;
	padding: 5%;
}

/*! FOOTER */

#footer 
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 2%;
	padding-bottom: 2%;
	gap: 20px;
}
.footer_email 
{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 2%;
}
.footer_email img
{
	width: 4vw;
	height: auto;
	background-color: transparent;
}
#footer div
{
	width: 30%;
}
#footer div a 
{
	color: #FFF;
	display: block;
	text-align: center;
	font-size: 1.2vw;
}
#footer div p
{
	margin-top: 0%;
	margin-bottom: 0%;
	color: #FFF;
	text-align: center;
	font-size: 1vw;
}
#footer div p span
{
	text-decoration: underline;
}
