@font-face {
  font-family: "comfortaa";
  src: url("fonts/comfortaa/Comfortaa-Regular.ttf");
}
@font-face {
  font-family: "teko";
  src: url("fonts/teko/Teko-Bold.ttf");
}
body {
  margin: 0%;
  padding: 0%;
  font-family: comfortaa;
}
/*! ===== Scrollbar CSS avec Codepen.io ===== /
  / Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #bfbfbf #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0.5vw;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #bfbfbf;
  border-radius: 10px;
}
/*!     navbar responsive avec https://www.cssportal.com/css3-menu-generator/    */
#menu {
  background: #262626;
  color: #fff;
  height: 45px;
  border-radius: 0px;
  border-bottom: #262640 3px solid;
}
#menu ul,
#menu li {
  margin: 0 auto;
  padding: 0;
  list-style: none;
}
#menu ul {
  width: 100%;
}
#menu li {
  float: left;
  display: inline;
  position: relative;
}
#menu a {
  display: block;
  line-height: 45px;
  padding: 0 14px;
  text-decoration: none;
  color: #008cff;
  font-size: 1vw;
}
#menu a.dropdown-arrow:after {
  content: "\25BE";
  margin-left: 5px;
}
#menu li a:hover {
  color: #ffffff;
  background: #008cff;
}
#menu input {
  display: none;
  margin: 0;
  padding: 0;
  height: 45px;
  width: 100%;
  opacity: 0;
  cursor: pointer;
}
#menu label {
  display: none;
  line-height: 45px;
  text-align: center;
  position: absolute;
  left: 35px;
}
#menu label:before {
  font-size: 1.6em;
  content: "\2261";
  margin-left: 20px;
}
#menu ul.sub-menus {
  height: auto;
  overflow: hidden;
  width: 170px;
  background: #444444;
  position: absolute;
  z-index: 99;
  display: none;
}
#menu ul.sub-menus li {
  display: block;
  width: 100%;
}
#menu ul.sub-menus a {
  color: #ffffff;
  font-size: 16px;
}
#menu li:hover ul.sub-menus {
  display: block;
}
#menu ul.sub-menus a:hover {
  background: #f2f2f2;
  color: #444444;
}
#menu ul span {
  float: right;
}

/*! TITRE */
#bloc_projets_flex h1 {
  text-align: center;
  color: white;
  font-size: 3.5vw;
  margin-top: 0%;
  padding-top: 2%;
  padding-bottom: 1%;
  margin-bottom: 0%;
  font-family: teko;
}
/*! bloc flex projets */

#bloc_projets_flex {
  background-image: url("images/fondcarre.png");
  padding-bottom: 5%;
}
#flex_projets {
  padding-top: 3%;
  display: flex;
  flex-direction: column;
  grid-gap: 4vh;
}
#flex_projets .projets {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  grid-gap: 3%;
  justify-content: center;
  height: 30vw;
}
#flex_projets .projets .divimgflex {
  width: 30%;
  height: 100%;
  overflow: auto;
}
#flex_projets .projets .divimgflex img {
  width: 100%;
}
#flex_projets .projets .divpflex {
  width: 30%;
  height: 100%;
  border-radius: 5%;
  background: white;
  box-shadow: 1.5vw 1.5vw rgba(0, 0, 0, 0.6);
  transition: all 0.4s ease;
  display: flex;
  align-items: center;
}
#flex_projets .projets .divpflex p {
  width: 75%;
  font-size: 1.2vw;
  margin: auto;
  text-align: center;
}
#flex_projets .projets .divpflex p
{
    width: 75%;
	font-size: 1.2vw;
    margin: auto;
    text-align: center;
}
/*! FOOTER */

#footer 
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 2%;
	padding-bottom: 2%;
	gap: 20px;
}
.footer_email 
{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 2%;
}
.footer_email img
{
	width: 4vw;
	height: auto;
	background-color: transparent;
}
#footer div
{
	width: 30%;
}
#footer div a 
{
	color: #FFF;
	display: block;
	text-align: center;
	font-size: 1.2vw;
}
#footer div p
{
	margin-top: 0%;
	margin-bottom: 0%;
	color: #FFF;
	text-align: center;
	font-size: 1vw;
}
#footer div p span
{
	text-decoration: underline;
}
